# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environment
venv/
ENV/
env/

# Ignore Django stuff
db.sqlite3

# Ignore VSCode / PyCharm settings
.vscode/
.idea/

# Ignore system files
.DS_Store
